
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}*/
html {
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    background: #1d1d1d none repeat scroll 0 0;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block;
}
ol, ul {
    list-style: outside none none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote::before, blockquote::after, q::before, q::after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a:focus {
    outline: thin dotted;
}
a:hover, a:active {
    outline: 0 none;
}
a img {
    border: 0 none;
}
body, button, input, select, textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
}
p {
    margin-bottom: 1.5em;
}
b, strong {
    font-weight: bold;
}
dfn, cite, em, i {
    font-style: italic;
}
blockquote {
    margin: 0 1.5em;
}
address {
    margin: 0 0 1.5em;
}
pre {
    background: #eee none repeat scroll 0 0;
    font-family: "Courier 10 Pitch",Courier,monospace;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}
code, kbd, tt, var {
    font: 15px Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
}
abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}
mark, ins {
    background: #fff9c0 none repeat scroll 0 0;
    text-decoration: none;
}
sup, sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    bottom: 1ex;
}
sub {
    top: 0.5ex;
}
small {
    font-size: 75%;
}
big {
    font-size: 125%;
}
hr {
    background-color: #ccc;
    border: 0 none;
    height: 1px;
    margin-bottom: 1.5em;
}
ul, ol {
    margin: 0 0 1.5em 3em;
}
ul {
    list-style: outside none disc;
}
ol {
    list-style: outside none decimal;
}
li > ul, li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 1.5em 1.5em;
}
img {
    height: auto;
    max-width: 100%;
}
figure {
    margin: 0;
}
table {
    margin: 0 0 1.5em;
    width: 100%;
}
th {
    font-weight: 300;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    background-color: #f9f9f9;
    border: 0 none;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    line-height: 100%;
    padding: 5px 10px;
}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: #f1f1f1;
}
button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
}
input[type="checkbox"], input[type="radio"] {
    padding: 0;
}
input[type="search"] {
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #666;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {
    color: #111;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
    padding: 7px;
}
textarea {
    overflow: auto;
    padding-left: 3px;
    vertical-align: top;
    width: 98%;
}
a {
    color: royalblue;
}
a:visited {
    color: purple;
}
a:hover, a:focus, a:active {
    color: midnightblue;
}
.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}
.main-navigation ul {
    list-style: outside none none;
    margin: 0;
    padding-left: 0;
}
.main-navigation li {
    float: left;
    position: relative;
}
.main-navigation a {
    display: block;
    text-decoration: none;
}
.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    position: absolute;
    top: 1.5em;
    z-index: 99999;
}
.main-navigation ul ul ul {
    left: 100%;
    top: 0;
}
.main-navigation ul ul a {
    width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul *:hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
    display: block;
}
.main-navigation .current_page_item a, .main-navigation .current-menu-item a {
}
.menu-toggle {
    cursor: pointer;
    display: none;
}



// Here begins my code!

#back-to-menu .main-menu-lines{
    display: block;
    height: 41px;
    left: 42px;
    padding: 0 0 0 14px;
    position: fixed;
    top: 45px;
    width: 46px;
    z-index: 11;
}
#back-to-menu.gllry-button::before{
    left:0;
    top:0;
}
.gllry-button::before{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    content: "";
    height: 50px;
    position: absolute;
    width: 50px;
    z-index: 3;
}

.gllry-button::after {
    background-color: #000;
    border-radius: 50%;
    content: "";
    height: 40px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 40px;
    z-index: 2;
}
#back-to-menu .line::before {
    content: "";
    top: -6px;
}
#back-to-menu .line::after {
    content: "";
    top: 6px;
}
#back-to-menu .main-menu-lines {
    display: block;
    height: 41px;
    left: 42px;
    padding: 0 0 0 14px;
    position: fixed;
    top: 45px;
    width: 46px;
    z-index: 11;
}
#back-to-menu {
    -moz-user-select: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 50px;
    left: 40px;
    padding: 6px;
    position: fixed;
    top: 40px;
    width: 50px;
    z-index: 10;
}
#back-to-menu .main-menu-text {
    font-size: 14px;
    margin: 10px 0 0 50px;
    position: absolute;
}
#back-to-menu .line, #back-to-menu .line::before, #back-to-menu .line::after {
    background-color: rgba(255, 255, 255, 1);
    height: 2px;
    position: absolute;
    width: 18px;
}
#back-to-menu .line {
    top: 20px;
}


/*#back-to-menu .line, #back-to-menu .line::after, #back-to-menu .line::before, #back-to-menu.close .main-menu-lines, .portfolio-gallery, .portfolio-content {
    transition: all 0.7s cubic-bezier(0.89, -0.02, 0.17, 1.04) 0s;
}*/
